div[is='popup-button'] {
  position: absolute !important;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

img[is='popup-icon'] {
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  z-index: 100;
  transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}
img[is='popup-icon']:hover {
  transform: scale(1.1);
}
img[is='popup-icon']:active {
  transform: scale(0.95);
}
